@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

@import "./layout/container.css";
@import "./layout/header.css";

@import "./components/card.css";
@import "./components/searchbar.css";
@import "./components/buttons.css";
@import "./components/header.css";

@import "./pages/home.css";
@import "./pages/profile.css";
@import "./pages/search.css";
@import "./pages/addwin.css";
@import "./pages/windetail.css";
